In [ ]:
import pandas as pd

df = pd.read_excel("cars.xlsx")

print(df.head())

#- Quais são as variáveis numéricas do dataset

print(df.info())

   Unnamed: 0           modelo   preco  unidades_vendidas  cidade_alcool  \
0           1  Volkswagen Polo   79400              16471            9.3
1           2     Hyundai HB20   82982              12126            8.5
2           3      Fiat Strada  100050              10387            8.4
3           4   Chevrolet Onix   83512              10260            9.4
4           5        Fiat Mobi   62653               8582            9.2

   cidade_gasolina  estrada_alcool  estrada_gasolina  custo_revisao
0             13.5            10.5              15.0        3578.27
1             12.5             9.9              14.1        2946.10
2             11.9             9.2              13.3        3540.00
3             13.5            11.2              16.0        3696.00
4             13.5            10.2              15.2        3752.00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         27 non-null     int64
 1   modelo             27 non-null     object
 2   preco              27 non-null     int64
 3   unidades_vendidas  27 non-null     int64
 4   cidade_alcool      27 non-null     float64
 5   cidade_gasolina    27 non-null     float64
 6   estrada_alcool     27 non-null     float64
 7   estrada_gasolina   27 non-null     float64
 8   custo_revisao      27 non-null     float64
dtypes: float64(5), int64(3), object(1)
memory usage: 2.0+ KB
None

In [ ]:
carros_mais_gastadores = df.sort_values(by='cidade_gasolina', ascending=False).head(5)

# - Quais são os 5 carros que mais consomem gasolina na cidade?



print(carros_mais_gastadores)

    Unnamed: 0               modelo   preco  unidades_vendidas  cidade_alcool  \
7            8         Renault Kwid   67672               6602           10.8
16          17          Peugeot 208  100165               3104           10.4
20          21        Renault Logan   90283               1923            9.4
8            9  Chevrolet Onix Plus  117486               6412            9.6
11          12          Fiat Cronos   82316               5036            9.9

    cidade_gasolina  estrada_alcool  estrada_gasolina  custo_revisao
7              15.3            11.0              15.7        3162.95
16             14.7            11.3              16.3        4156.00
20             14.0            10.2              14.9        3710.50
8              13.8            12.5              17.6        3696.00
11             13.8            11.3              16.0        3780.00

In [ ]:
#- Qual a média de consumo de álcool tanto na cidade quanto na estrada?

media_cidade = df['cidade_alcool'].mean()

media_estrada = df['estrada_alcool'].mean()

print(f"A media de consumo de alcool na cidade e: {media_cidade:.2f} km/L")
print(f"A media de consumo de alcool na estrada e: {media_estrada:.2f} km/L")

A media de consumo de alcool na cidade e: 8.73 km/L
A media de consumo de alcool na estrada e: 9.90 km/L

In [10]:
#- Crie uma nova coluna contendo o nome da Montadora para cada carro

df['montadora'] = df['modelo'].str.split(' ').str[0]

print(df.head())

   Unnamed: 0           modelo   preco  unidades_vendidas  cidade_alcool  \
0           1  Volkswagen Polo   79400              16471            9.3
1           2     Hyundai HB20   82982              12126            8.5
2           3      Fiat Strada  100050              10387            8.4
3           4   Chevrolet Onix   83512              10260            9.4
4           5        Fiat Mobi   62653               8582            9.2

   cidade_gasolina  estrada_alcool  estrada_gasolina  custo_revisao  \
0             13.5            10.5              15.0        3578.27
1             12.5             9.9              14.1        2946.10
2             11.9             9.2              13.3        3540.00
3             13.5            11.2              16.0        3696.00
4             13.5            10.2              15.2        3752.00

    montadora
0  Volkswagen
1     Hyundai
2        Fiat
3   Chevrolet
4        Fiat

In [11]:
#-- Liste as 5 montadoras com a maior média de preço de carros



df['montadora'] = df['modelo'].str.split(' ').str[0]

print(df.head())
media_preco_por_montadora = df.groupby('montadora')['preco'].mean().sort_values(ascending=False).head(5)

# Exibindo o resultado
print("As 5 montadoras com a maior média de preço são:")
print(media_preco_por_montadora)

   Unnamed: 0           modelo   preco  unidades_vendidas  cidade_alcool  \
0           1  Volkswagen Polo   79400              16471            9.3
1           2     Hyundai HB20   82982              12126            8.5
2           3      Fiat Strada  100050              10387            8.4
3           4   Chevrolet Onix   83512              10260            9.4
4           5        Fiat Mobi   62653               8582            9.2

   cidade_gasolina  estrada_alcool  estrada_gasolina  custo_revisao  \
0             13.5            10.5              15.0        3578.27
1             12.5             9.9              14.1        2946.10
2             11.9             9.2              13.3        3540.00
3             13.5            11.2              16.0        3696.00
4             13.5            10.2              15.2        3752.00

    montadora
0  Volkswagen
1     Hyundai
2        Fiat
3   Chevrolet
4        Fiat
As 5 montadoras com a maior média de preço são:
montadora
Nissan        114998.500000
Chevrolet     101001.000000
Peugeot       100165.000000
Volkswagen     98111.666667
Toyota         96208.000000
Name: preco, dtype: float64

In [14]:
#- Informe o carro mais vendido para cada montadora

indices_carros_mais_vendidos_por_montadora = df.groupby("montadora")['unidades_vendidas'].idxmax()

carros_mais_vendidos = df.loc[indices_carros_mais_vendidos_por_montadora]

print("O carro mais vendido para cada montadora é:")
print(carros_mais_vendidos[['montadora', 'modelo', 'unidades_vendidas']])

O carro mais vendido para cada montadora é:
     montadora              modelo  unidades_vendidas
3    Chevrolet      Chevrolet Onix              10260
17     Citroen          Citroen C3               3030
2         Fiat         Fiat Strada              10387
1      Hyundai        Hyundai HB20              12126
13      Nissan        Nissan Kicks               4752
16     Peugeot         Peugeot 208               3104
7      Renault        Renault Kwid               6602
18      Toyota  Toyota Yaris sedan               2505
0   Volkswagen     Volkswagen Polo              16471

In [13]:
# - Liste os 10 carros com menor custo de manutenção
menor_custo_de_revisao = df.sort_values(by="custo_revisao", ascending=True).head(10)

print(menor_custo_de_revisao)

    Unnamed: 0           modelo   preco  unidades_vendidas  cidade_alcool  \
1            2     Hyundai HB20   82982              12126            8.5
12          13    Hyundai HB20S   89844               4811            8.5
13          14     Nissan Kicks  114970               4752            7.7
7            8     Renault Kwid   67672               6602           10.8
10          11    Hyundai Creta  114010               5314            7.1
26          27     Nissan Versa  115027               1086            7.8
19          20   Chevrolet Spin  102005               2026            7.8
25          26     Fiat Fiorino  109529               1159            7.3
2            3      Fiat Strada  100050              10387            8.4
0            1  Volkswagen Polo   79400              16471            9.3

    cidade_gasolina  estrada_alcool  estrada_gasolina  custo_revisao  \
1              12.5             9.9              14.1        2946.10
12             12.0             9.8              14.0        2946.10
13             11.4             9.4              13.7        3006.00
7              15.3            11.0              15.7        3162.95
10             10.1             8.1              11.5        3280.16
26             11.6            10.0              14.1        3336.00
19             11.3             9.1              13.0        3388.00
25             10.7             8.3              12.3        3472.00
2              11.9             9.2              13.3        3540.00
0              13.5            10.5              15.0        3578.27

     montadora
1      Hyundai
12     Hyundai
13      Nissan
7      Renault
10     Hyundai
26      Nissan
19   Chevrolet
25        Fiat
2         Fiat
0   Volkswagen

In [ ]:
"""- (SUPER DESAFIO) Crie uma nova coluna contendo o custo total do carro. Essa nova coluna é derivada a partir do cálculo contendo:

- Custo Total de Consumo de Gasolina em 2 anos, considerando uma média de consumo de 150L por mês

- Custo Total de IPVA considerando o valor de 4% do valor carro por ano

- Custo Total de Revisão considerando 1 revisão por ano
"""

litros_por_mes = 150
meses = 24
preco_gasolina = 5.50
ipva_percentual = 0.04
anos = 2


# 1. Custo Total de Consumo de Gasolina em 2 anos
# A fórmula é: (litros_por_mes * meses) * preco_gasolina
custo_gasolina = (litros_por_mes * meses) * preco_gasolina
##??
# 2. Custo Total de IPVA em 2 anos
# A fórmula é: (preco * ipva_percentual * anos)
custo_ipva = df['preco'] * ipva_percentual * anos

# 3. Custo Total de Revisão em 2 anos
# A fórmula é: (custo_revisao * anos)
custo_revisao_total = df['custo_revisao'] * anos

# --- Criando a nova coluna de Custo Total ---
# Somando todos os componentes para cada carro
df['custo_total'] = custo_gasolina + custo_ipva + custo_revisao_total

# Mostrando o resultado final, com o modelo do carro e o custo total
print("Tabela com a nova coluna de Custo Total (em 2 anos):")
print(df[['modelo', 'custo_total']])

Tabela com a nova coluna de Custo Total (em 2 anos):
                 modelo  custo_total
0       Volkswagen Polo     33308.54
1          Hyundai HB20     32330.76
2           Fiat Strada     34884.00
3        Chevrolet Onix     33872.96
4             Fiat Mobi     32316.24
5    Volkswagen T-Cross     37891.00
6             Fiat Argo     33360.80
7          Renault Kwid     31539.66
8   Chevrolet Onix Plus     36590.88
9    Volkswagen Saveiro     35659.70
10        Hyundai Creta     35481.12
11          Fiat Cronos     33945.28
12        Hyundai HB20S     32879.72
13         Nissan Kicks     35009.60
14           Fiat Pulse     35404.08
15        Fiat Fastback     36534.96
16          Peugeot 208     36125.20
17           Citroen C3     34251.60
18   Toyota Yaris sedan     34747.84
19       Chevrolet Spin     34736.40
20        Renault Logan     34443.64
21       Renault Duster     36002.92
22   Toyota Yaris hatch     34747.84
23        Renault Oroch     34779.60
24      Renault Stepway     33223.24
25         Fiat Fiorino     35506.32
26         Nissan Versa     35674.16